.Content {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.ErrorWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
