.BurgerConstructor {
    width: 568px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ScrollArea {
    max-height: 464px;
    overflow-y: scroll;
}

.ScrollArea::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.ScrollArea::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.TotalBlock {
    align-self: end;
    display: flex;
    flex-wrap: nowrap;
}

.Sum {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.EmptyItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CounstructorElementWidth {
    width: 520px;
}

.CounstructorElementFullWidth {
    width: 100%;
}

.DragTarget {
    outline: #4C4CFF solid 2px;
}

.ScrollAreaDragTarget {
    outline: #4C4CFF solid 2px;
    border-radius: 40px;
}