.ContentWrapper {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: center;
    min-height: 100%;
}

.Content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Inputs {
    display: flex;
    flex-direction: column;
}


